<!DOCTYPE html>
<html>
<head>
  <title>MarvelComicOrganizer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if !session[:user_id].nil? %>
    <div class="logout">
      <%= link_to 'Logout', "login", method: :delete %>
    </div>
    <% end %>
  </header>

<%= yield %>

</body>
</html>
